*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-size: 1.6rem;
	background-color: #131519;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.root {
	display: flex;
	flex-direction: column;
}

// SCROLLBAR

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: hsla(0, 0%, 100%, 0.1);
	margin-block: -0.3rem;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 100%, 0.2);
	border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
	background: hsla(0, 0%, 100%, 0.3);
}

body::-webkit-scrollbar {
	width: 1.5rem;
}

body::-webkit-scrollbar-track {
	background: transparent;
	margin-block: 0;
}

body::-webkit-scrollbar-thumb {
	border: 0.35rem solid transparent;
	border-radius: 100vh;
	background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
	background-clip: content-box;
}

// HEADER

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2b2d30;
	padding: 10px 15px;
}

@media (min-width: 1199.98px) {
	.header {
		padding: 10px calc(50% - 590px);
	}
}

.logo-container {
	display: flex;
	flex-direction: row;
}

.logo-container h1 {
	background: linear-gradient(0.25turn, #8fcea1, #03b4e4);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo {
	height: 45px;
	width: auto;
	margin-right: 1rem;
	filter: invert(78%) sepia(22%) saturate(477%) hue-rotate(85deg)
		brightness(95%) contrast(88%);
	vertical-align: middle;
}

.header input {
	background-color: #131519;
	color: #eee;
	padding: 10px 15px;
	padding-right: 10px;
	border-radius: 20px;
	outline: none;
	border: none;
	font-size: 1.6rem;
}

.header input::placeholder {
	color: #56575a;
}

.header input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 2.4rem;
	width: 2.4rem;
	position: relative;
	margin-left: 0.4rem;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
	cursor: pointer;
}

.movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 1rem;
	width: 250px;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 0 5px #2b2d30;
	color: #fff;
}

.movie img {
	object-fit: cover;
	height: 350px;
	width: 100%;
	transition: 0.2s filter ease-in-out 0.05s, 0.3s transform ease-in-out;
}

.movie:hover img {
	filter: brightness(80%);
	transform: scale(1.1, 1.1);
}

.movie-info {
	display: flex;
	background-color: #15a4cc;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.movie-info p {
	margin-left: 5px;
}

.movie-over {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #5d9273;
	padding: 1rem;
	overflow: auto;
	max-height: 100%;
	transform: translateY(102%);
	transition: 0.2s transform ease-in-out;
}

.movie:hover .movie-over {
	transform: translateY(0);
}

.movie-over h4 {
	margin-bottom: 5px;
}

.movie-over p {
	text-align: justify;
}
