*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  background-color: #131519;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  margin-block: -0.3rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0;
}

body::-webkit-scrollbar-thumb {
  border: 0.35rem solid transparent;
  border-radius: 100vh;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-clip: content-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b2d30;
  padding: 10px 15px;
}

@media (min-width: 1199.98px) {
  .header {
    padding: 10px calc(50% - 590px);
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo-container h1 {
  background: -webkit-gradient(linear, left top, right top, from(#8fcea1), to(#03b4e4));
  background: linear-gradient(0.25turn, #8fcea1, #03b4e4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-mobile {
  display: none;
}

@media (max-width: 520px) {
  .logo-mobile {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  .header input {
    width: 150px;
  }
}

.logo {
  height: 45px;
  width: auto;
  margin-right: 1rem;
  -webkit-filter: invert(78%) sepia(22%) saturate(477%) hue-rotate(85deg) brightness(95%) contrast(88%);
          filter: invert(78%) sepia(22%) saturate(477%) hue-rotate(85deg) brightness(95%) contrast(88%);
  vertical-align: middle;
}

.header input {
  background-color: #131519;
  color: #eee;
  padding: 10px 15px;
  padding-right: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.header input::-webkit-input-placeholder {
  color: #56575a;
}

.header input:-ms-input-placeholder {
  color: #56575a;
}

.header input::-ms-input-placeholder {
  color: #56575a;
}

.header input::placeholder {
  color: #56575a;
}

.header input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  margin-left: 0.4rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 1rem;
  width: 250px;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #2b2d30;
          box-shadow: 0 0 5px #2b2d30;
  color: #fff;
}

.movie img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  width: 100%;
  -webkit-transition: 0.2s -webkit-filter ease-in-out 0.05s, 0.3s -webkit-transform ease-in-out;
  transition: 0.2s -webkit-filter ease-in-out 0.05s, 0.3s -webkit-transform ease-in-out;
  transition: 0.2s filter ease-in-out 0.05s, 0.3s transform ease-in-out;
  transition: 0.2s filter ease-in-out 0.05s, 0.3s transform ease-in-out, 0.2s -webkit-filter ease-in-out 0.05s, 0.3s -webkit-transform ease-in-out;
}

.movie:hover img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.movie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #15a4cc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

.movie-info p {
  margin-left: 5px;
}

.movie-over {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5d9273;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s transform ease-in-out;
  transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out;
}

.movie:hover .movie-over {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.movie-over h4 {
  margin-bottom: 5px;
}

.movie-over p {
  text-align: justify;
}
/*# sourceMappingURL=index.css.map */